html {
    font-family: sans-serif;
}

.icon-left{
    margin-right: 3px;
}

.header {
    background: black;
    color: red;
    display: flex;
}

.header .h-info {
    width: 70%;
    text-align: center;
    padding: 20px;
    color: white;
}

.header .h-info .h-item {
    margin: 7px;
}

.header .h-info #uni {
    letter-spacing: 8px;
}

.header .h-info #name {
    font-size: 46px;
    max-width: 454px;
    margin: 10px auto;
    font-weight: bold;
    border: 2px orange solid;
    padding: 4px 15px;
}

.header .h-info #info {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.header .h-info #info .hi-item {
    margin: 5px 7px;
    min-width: 180px;
}
