$UL_MARGIN_TOP: 10px;
$UL_MARGIN_BOTTOM: 25px;
$LI_MARGIN_BOTTOM: 7px;

.header {
  background: black;
  display: flex;

  .h-info {
    width: 70%;
    text-align: center;
    padding: 20px;
    color: white;

    .h-item {
      margin: 7px;
    }

    #uni {
      letter-spacing: 8px;
      text-transform: uppercase;
    }

    #name {
      text-transform: uppercase;
      font-size: 46px;
      max-width: 454px;
      margin: 10px auto;
      font-weight: bold;
      border: 2px orange solid;
      padding: 4px 15px;
    }

    #info {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      justify-content: center;
      align-items: center;

      .hi-item {
        margin: 5px 7px;
        min-width: 180px;
      }
    }
  }
}

.body {
  width: 100%;
  // background: red;
  display: flex;
  padding: 30px 10px;

  .b-left {
    // background:blue;

    width: 35%;
    margin: 0px 15px;
  }

  .b-right {
    // background:green;

    width: 65%;
    margin: 0px 15px;
  }

  .b-title {
    padding-bottom: 4px;
    border-bottom: 1px solid #bd6d14;
    font-size: 18px;
    color: #d08a09;
    font-weight: bold;
    text-transform: uppercase;

    i.fas {
      margin-right: 10px;
    }
  }
}

#objective {
  p {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

// ##############################################
// ##############################################
// ##############################################
p {
  text-align: justify;
  margin: 0;
  padding: 0;
}

ul.table-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;

  li {
    display: flex;
    font-size: 16px;

    .li-label {
      width: 30%;
      padding-right: 5px;
    }

    .li-val {
      width: 70%;
      padding-left: 5px;
    }

    margin: 15px 0px;
  }
}

ul.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: $UL_MARGIN_TOP;
  margin-bottom: $UL_MARGIN_BOTTOM;

  li {
    margin-bottom: $LI_MARGIN_BOTTOM;

    display: flex;
    .li-label {
      width: 50%;
      // color: #757575;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 2px;
    }

    .li-val {
      width: 80%;
      font-size: 15px;
    }
  }
}

ul.level-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: $UL_MARGIN_TOP;
  margin-bottom: $UL_MARGIN_BOTTOM;

  li {
    margin-bottom: $LI_MARGIN_BOTTOM;

    display: flex;
    .li-label {
      font-weight: bold;
      width: 45%;
      font-size: 13px;
      padding-right: 10px;
    }

    .li-level {
      font-size: 12px;
      width: 55%;

      i {
        color: gray;
      }
      i.selected {
        color: #bd6d14;
      }
    }
  }
}

ul.list-ref {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: $UL_MARGIN_TOP;
  margin-bottom: $UL_MARGIN_BOTTOM;
  font-size: 14px;

  li {
    margin-bottom: 15px;

    .ref-name {
      font-weight: bold;
    }
    .ref-title,
    .ref-tel,
    .ref-email {
      color: #3c3b3b;
    }
  }
}

ul.list-social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: $UL_MARGIN_TOP;
  margin-bottom: $UL_MARGIN_BOTTOM;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .soc-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
      border-radius: 100%;
      background: #3c3b3b;
      color: white;
      margin-right: 10px;
      font-size: 18px;
      font-weight: bold;
    }
    .soc-val {
      width: 90%;
    }
  }
}
